.navbar-container {
  max-width: 300px;
  width: 80%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-color: #fff4ea;

  transform: translateX(-100%);
  transition: transform 0.5s ease;

  display: flex;
  flex-direction: column;

  z-index: 100;
}

.navbar-container::after {
  content: "";

  width: 10px;
  height: 100%;

  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);

  background: linear-gradient(
    0deg,
    #dfccfb 0%,
    #dfccfb 12%,
    #f2c18d 12%,
    #f2c18d 24%,
    #e0e5b6 24%,
    #e0e5b6 36%,
    #7eacb5 36%,
    #7eacb5 48%,
    #fff4ea 48%,
    #fff4ea 60%,
    #f7b5ca 60%,
    #f7b5ca 72%,
    #fadfa1 72%,
    #fadfa1 84%,
    #c96868 84%,
    #c96868 100%
  );
}

.navbar-open {
  transform: translateX(0%);
}

.navbar-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px 20px;
}

.navbar-footer {
  padding: 10px 20px;
}

.navbar-item {
  font-size: 20px;
  font-family: cursive;

  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 10px;
  padding: 5px 10px;

  color: #c96868;
}

.navbar-item svg {
  height: 1em;
  width: 1em;
}

.navbar-item:hover {
  color: #c96868;
  background-color: white;
}
