.button {
  width: 100%;
  background: #c96868;

  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;

  font-size: 24px;
  font-weight: 600;
  font-family: cursive;
  line-height: 16px;
  color: #ffffff;

  outline: 0;
  border: 1px solid #c96868;
  border-radius: 6px;

  padding: 12px 14px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  text-align: center;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #c96868;
}

.button:active {
  opacity: 0.5;
}

/* Submit */

.btn-submit {
  background: #7eacb5;
  border: 1px solid #7eacb5;
  color: white;
}

.btn-submit:hover,
.btn-submit:active {
  color: #7eacb5;
}

/* Btn Google */
.btn-google {
  background: white;
  border: 1px solid black;
  color: black;
  font-weight: 400;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-google:hover,
.btn-google:active {
  background: black;
  color: white;
}

.btn-google svg {
  width: 24px;
  height: 24px;
}

/* Disabled */

.button:disabled {
  background: gray;
  border: 1px solid gray;
  color: white;
}

.button:disabled:hover,
.button:disabled:active {
  color: white;
  cursor: not-allowed;
  opacity: 1;
}
